.hero {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 75vh; /* 25% reduced height */
  object-fit: contain; /* Prevents cropping */
  object-position: center top; /* Keeps top part visible */
  filter: brightness(70%);
  background-color: black; /* In case of empty spaces */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-img {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}
